# ignore development directories
.tmp/
.vscode/
.idea/
var/
vendor/

# ignore backup files
*~

# ignore configuration
.env.local
phpunit.xml
.phpunit.result.cache

# ignore containerization
.dockerignore
Dockerfile
docker/
db/db-backups
