# ignore development directories
.tmp/
.vscode/
.idea/
var/
vendor/

# ignore backup files
*~

# ignore configuration
.env.local
phpunit.xml
.phpunit.result.cache

# ignore containerization
.dockerignore
Dockerfile
docker/

# ignore data
db/db-backups/
db/db-production/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
