<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"
         backupGlobals               = "false"
         backupStaticAttributes      = "false"
         colors                      = "true"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "true"
         convertWarningsToExceptions = "true"
         processIsolation            = "false"
         stopOnFailure               = "false">

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="DBHOST" value=""/>
        <env name="DBNAME" value=""/>
        <env name="DBUSER" value=""/>
        <env name="DBPASS" value=""/>
        <env name="LOG_LEVEL" value="DEBUG"/>
        <env name="LOG_OUTPUT" value="MEMORY"/>

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value=""/>
        <!-- ###- symfony/framework-bundle ### -->
    </php>

</phpunit>
